.container-fluid{
    background-color: #013056;
    height: 200px;
    .top-head{margin-top: 50px;
        display: inline-block;
        h1,h5{
            margin: 10px 0;
            padding: 0;
            color: white;
        }
        h1{
            @include fonts(35px, $font-OS, 900, #fff);
            font-style: italic;
        }
        h5{
            @include fonts(17px, tahoma, 100, #fff);
        }
        
    }
}
