@font-face {
    font-family: 'Open-Sans-Italic';
    src: url('../../fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'),
        url('../../fonts/OpenSans/OpenSansLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../../fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('../../fonts/Poppins/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
        url('../../fonts/Poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('../../fonts/OpenSans/OpenSans.woff2') format('woff2'),
        url('../../fonts/OpenSans/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans-BoldItalic';
    src: url('../../fonts/OpenSans/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../../fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../../fonts/Poppins/Poppins.woff2') format('woff2'),
        url('../../fonts/Poppins/Poppins.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans-Extrabold';
    src: url('../../fonts/OpenSans/OpenSans-Extrabold.woff2') format('woff2'),
        url('../../fonts/OpenSans/OpenSans-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans-Italic';
    src: url('../../fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'),
        url('../../fonts/OpenSans/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../../fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
        url('../../fonts/Poppins/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../../fonts/Poppins/Poppins-Light.woff2') format('woff2'),
        url('../../fonts/Poppins/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans-Bold';
    src: url('../../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
        url('../../fonts/OpenSans/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans-ExtraboldItalic';
    src: url('../../fonts/OpenSans/OpenSans-ExtraboldItalic.woff2') format('woff2'),
        url('../../fonts/OpenSans/OpenSans-ExtraboldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Open-Sans-Light';
    src: url('../../fonts/OpenSans/OpenSans-Light.woff2') format('woff2'),
        url('../../fonts/OpenSans/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans-Semibold';
    src: url('../../fonts/OpenSans/OpenSans-Semibold.woff2') format('woff2'),
        url('../../fonts/OpenSans/OpenSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans-SemiboldItalic';
    src: url('../../fonts/OpenSans/OpenSans-SemiboldItalic.woff2') format('woff2'),
        url('../../fonts/OpenSans/OpenSans-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Museo-Sans-500';
    src: url('../../fonts/MuseoSans/MuseoSans-500.woff2') format('woff2'),
        url('../../fonts/MuseoSans/MuseoSans-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

